@model InternetPcPartDatabase.Models.Part

@{
    ViewData["Title"] = "Part Details";
}

<div class="text-center">

<h1>Details about @Model.PartName</h1>

<div>
    <hr class="align-content-lg-center"/>
    <dl class="row border-bottom border-top">
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.PartId)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.PartId)
        </dd>
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.PartType)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.PartType)
        </dd>
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.PartName)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.PartName)
        </dd>
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.MSRP)
        </dd>
        <dt class = "col-sm-2 border-bottom border-top">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10 border-bottom border-top">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
    </dl>
</div>
<!--This script should be places anywhere on a page you want to see average rating -->
<div id='rs_average'></div>

<!--This script should be places anywhere on a page you want to see ratings and reviews -->
<script src='https://www.rating-system.com/v4/master.js'></script>
<my-app company='6498' ratingbox='14382'>Loading...</my-app>
<div style='font-size:10px;clear:both'>Powered by <a href='http://www.rating-system.com' target='_blank' title='Ratings and Reviews are powered by Rating-System.com'>Rating-System.com</a></div><!-- DO NOT REMOVE THE LAST LINE, please contact us first if you need to do it -->
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
