@model IEnumerable<InternetPcPartDatabase.Models.Part>
@using Microsoft.EntityFrameworkCore
@{
    #nullable disable
}


@{
    ViewData["Title"] = "Part Collection";
}

<div class="text-center">
<h1>Part Collection</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Part" asp-route-id="@item.PartId">Edit</a>
                <a class ="btn btn-primary" asp-action="Details" asp-controller="Part" asp-route-id="@item.PartId">Details</a>
                <a class="btn btn-primary" asp-action="Delete" asp-controller="Part" asp-route-id="@item.PartId">Delete</a>
                    
            </td>
        </tr>
}
</div>
    </tbody>
</table>
